version: '3.9'

services:
    x86_64:
        build:
            context: .
            dockerfile: Dockerfile.base
        image: x86_64

    base.humble:
        depends_on:
            - x86_64
        build:
            context: .
            dockerfile: Dockerfile.humble
            args:
                - BASE_IMAGE=x86_64
        image: x86_64.humble

    # base-os-cuda.humble.dep:
    #     depends_on:
    #         - base-os-cuda.humble
    #     build:
    #         context: .
    #         dockerfile: Dockerfile.dep
    #         args:
    #             - BASE_IMAGE=base-os-cuda.humble
    #     image: base-os-cuda.humble.dep

    # base-os-cuda.humble.user:
    #     depends_on:
    #         - base-os-cuda.humble.dep
    #     build:
    #         context: .
    #         dockerfile: Dockerfile.user
    #         args:
    #             - BASE_IMAGE=base-os-cuda.humble.dep
    #     image: base-os-cuda.humble.user
    #     user: admin:1000
    #     deploy:
    #         resources:
    #             reservations:
    #                 devices:
    #                     - driver: nvidia
    #                       count: all
    #                       capabilities: [gpu]
    #     stdin_open: true
    #     privileged: true
    #     tty: true
    #     network_mode: "host"
    #     volumes:
    #         - /tmp/.X11-unix:/tmp/.X11-unix:ro
    #         - /etc/localtime:/etc/localtime:ro
    #         - ../../src:/home/admin/colcon_ws/src
    #     environment:
    #         - DISPLAY=$DISPLAY
    #         - NVIDIA_VISIBLE_DEVICES=all
    #         - NVIDIA_DRIVER_CAPABILITIES=all
    #     entrypoint: /usr/local/bin/scripts/workspace-entrypoint.sh
    #     command: tail -f /dev/null # bash -c "top"