name: Build ROS Images in Stages

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    # paths:
    #   - 'creator/**'
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 0 * * 0'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-base:
    name: Build Base Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        os: ["24.04", "22.04"]
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build base layer
        uses: docker/build-push-action@v6
        with:
          context: .
          file: creator/common/Dockerfile.base
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/base:${{ matrix.os }}
          build-args: |
            BASE_IMAGE=${{ matrix.os }}

  build-ros:
    name: Add ROS
    runs-on: ubuntu-latest
    needs: build-base
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - { os: "24.04", ros: rolling }
          - { os: "24.04", ros: kilted }
          - { os: "24.04", ros: jazzy }
          - { os: "22.04", ros: humble }
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Select ROS Dockerfile
        run: echo "ROS_FILE=creator/ros2/Dockerfile.${{ matrix.ros }}" >> $GITHUB_ENV
      - name: Build ROS layer
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ env.ROS_FILE }}
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/ros:${{ matrix.os }}-${{ matrix.ros }}
          build-args: |
            BASE_IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/base:${{ matrix.os }}

  build-moveit:
    name: Add MoveIt
    runs-on: ubuntu-latest
    needs: build-ros
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - { os: "24.04", ros: kilted }
          - { os: "24.04", ros: jazzy }
          - { os: "22.04", ros: humble }
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build MoveIt layer
        uses: docker/build-push-action@v6
        with:
          context: .
          file: creator/usage/Dockerfile.moveit
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/moveit:${{ matrix.os }}-${{ matrix.ros }}
          build-args: |
            BASE_IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/ros:${{ matrix.os }}-${{ matrix.ros }}
            ROS_DISTRO=${{ matrix.ros }}

  build-mujoco:
    name: Add MuJoCo
    runs-on: ubuntu-latest
    needs: build-base
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        os: ["24.04"]
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build MuJoCo layer
        uses: docker/build-push-action@v6
        with:
          context: .
          file: creator/common/Dockerfile.mujoco
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/mujoco:${{ matrix.os }}
          build-args: |
            BASE_IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/base:${{ matrix.os }}
            MUJOCO_VERSION=3.4.0

  build-ros-mujoco:
    name: MuJoCo + ROS
    runs-on: ubuntu-latest
    needs: build-mujoco
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - { os: "24.04", ros: kilted }
          - { os: "24.04", ros: jazzy }
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Select ROS Dockerfile
        run: |
          echo "ROS_FILE=creator/ros2/Dockerfile.${{ matrix.ros }}" >> $GITHUB_ENV
      - name: Build ROS layer on MuJoCo
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ env.ROS_FILE }}
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/ros:${{ matrix.os }}-${{ matrix.ros }}-mujoco
          build-args: |
            BASE_IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/mujoco:${{ matrix.os }}

  build-moveit-mujoco:
    name: MuJoCo + ROS + MoveIt
    runs-on: ubuntu-latest
    needs: build-ros-mujoco
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - { os: "24.04", ros: kilted }
          - { os: "24.04", ros: jazzy }
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build MoveIt layer on MuJoCo
        uses: docker/build-push-action@v6
        with:
          context: .
          file: creator/usage/Dockerfile.moveit
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/moveit:${{ matrix.os }}-${{ matrix.ros }}-mujoco
          build-args: |
            BASE_IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/ros:${{ matrix.os }}-${{ matrix.ros }}-mujoco
            ROS_DISTRO=${{ matrix.ros }}

  build-nav2-mujoco:
    name: MuJoCo + ROS + Nav2
    runs-on: ubuntu-latest
    needs: build-ros-mujoco
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - { os: "24.04", ros: kilted }
          - { os: "24.04", ros: jazzy }
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Nav2 layer on MuJoCo
        uses: docker/build-push-action@v6
        with:
          context: .
          file: creator/usage/Dockerfile.nav2
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/nav2:${{ matrix.os }}-${{ matrix.ros }}-mujoco
          build-args: |
            BASE_IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/ros:${{ matrix.os }}-${{ matrix.ros }}-mujoco
            ROS_DISTRO=${{ matrix.ros }}

  finalize-base-ros-user:
    name: Final User Image (ROS only)
    runs-on: ubuntu-latest
    needs: build-ros
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - { os: "24.04", ros: rolling }
          - { os: "24.04", ros: kilted }
          - { os: "24.04", ros: jazzy }
          - { os: "22.04", ros: humble }
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build final user image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: creator/common/Dockerfile.user
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ matrix.os }}-${{ matrix.ros }}
          build-args: |
            BASE_IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/ros:${{ matrix.os }}-${{ matrix.ros }}
            USER_UID=1000
            USER_GID=1000
            USERNAME=admin
            ROS_DISTRO=${{ matrix.ros }}

  finalize-base-ros-moveit-user:
    name: Final User Image (MoveIt)
    runs-on: ubuntu-latest
    needs: build-moveit
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - { os: "24.04", ros: kilted }
          - { os: "24.04", ros: jazzy }
          - { os: "22.04", ros: humble }
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build final MoveIt image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: creator/common/Dockerfile.user
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ matrix.os }}-${{ matrix.ros }}-moveit
          build-args: |
            BASE_IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/moveit:${{ matrix.os }}-${{ matrix.ros }}
            USER_UID=1000
            USER_GID=1000
            USERNAME=admin
            ROS_DISTRO=${{ matrix.ros }}

  finalize-mujoco-ros-user:
    name: Final User Image (MuJoCo)
    runs-on: ubuntu-latest
    needs: build-ros-mujoco
    permissions:
      contents: read
      packages: write
    strategy:
        matrix:
          include:
            - { os: "24.04", ros: kilted }
            - { os: "24.04", ros: jazzy }
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build final MuJoCo image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: creator/common/Dockerfile.user
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ matrix.os }}-${{ matrix.ros }}-mujoco
          build-args: |
            BASE_IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/ros:${{ matrix.os }}-${{ matrix.ros }}-mujoco
            USER_UID=1000
            USER_GID=1000
            USERNAME=admin
            ROS_DISTRO=${{ matrix.ros }}

  finalize-mujoco-ros-moveit-user:
    name: Final User Image (MuJoCo + MoveIt)
    runs-on: ubuntu-latest
    needs: build-moveit-mujoco
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - { os: "24.04", ros: kilted }
          - { os: "24.04", ros: jazzy }
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build final MuJoCo MoveIt image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: creator/common/Dockerfile.user
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ matrix.os }}-${{ matrix.ros }}-mujoco-moveit
          build-args: |
            BASE_IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/moveit:${{ matrix.os }}-${{ matrix.ros }}-mujoco
            USER_UID=1000
            USER_GID=1000
            USERNAME=admin
            ROS_DISTRO=${{ matrix.ros }}

  finalize-mujoco-ros-nav2-user:
    name: Final User Image (MuJoCo + Nav2)
    runs-on: ubuntu-latest
    needs: build-nav2-mujoco
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - { os: "24.04", ros: kilted }
          - { os: "24.04", ros: jazzy }
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build final MuJoCo Nav2 image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: creator/common/Dockerfile.user
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ matrix.os }}-${{ matrix.ros }}-mujoco-nav2
          build-args: |
            BASE_IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}/nav2:${{ matrix.os }}-${{ matrix.ros }}-mujoco
            USER_UID=1000
            USER_GID=1000
            USERNAME=admin
            ROS_DISTRO=${{ matrix.ros }}
